        <div id="about-dialog" class="modal fade" tabindex="-1" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">About</h3>
              </div>
              <div class="modal-body">
              <h2><i class="fa fa-user"></i> Rocco Musolino <small>(Author)</small></h2>
              <ul>
                <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/roccomuso" rel="nofollow" target="_new">GitHub profile</a></li>
                <li><i class="fa fa-linkedin fa-fw"></i> <a href="https://it.linkedin.com/in/roccomusolino" rel="nofollow" target="_new">Linkedin</a></li>
                <li><i class="fa fa-twitter fa-fw"></i> <a href="https://twitter.com/roccomuso" rel="nofollow" target="_new">Twitter</a></li>
                <li><i class="fa fa-facebook fa-fw"></i> <a href="https://www.facebook.com/rocco.musolino" rel="nofollow" target="_new">Facebook</a></li>
              </ul>
              <br/>
              <p class="lead"><i class="fa fa-cubes"></i> Check more about this repo:</p>
              <ul>
                <li><i class="fa fa-github fa-fw"></i> <a href="https://github.com/roccomuso/iot-433mhz" target="_new">Github Official Repo</a></li>
                <li><i class="fa fa-archive fa-fw"></i> <a href="https://www.npmjs.com/package/iot-433mhz" target="_new">NPM package</a></li>
              </ul>

              
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 51.1563px; top: 12px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div><div class="ripple ripple-on ripple-out" style="left: 45.6563px; top: 21px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div></div></button>
                </div>
              </div>
            </div>
          </div>