        <div id="ignored-codes-dialog" class="modal fade" tabindex="-1" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">{{title}}</h3>
              </div>
              <div class="modal-body text-center">
              
              <table class="table table-striped table-hover ">
                <thead>
                <tr>
                  <th>Code</th>
                  <th>Bitlength</th>
                  <th>Protocol</th>
                  <th>Don't ignore it</th>
                </tr>
                </thead>
                <tbody>
                {{#RFcodes}}
                    <tr class="warning">
                      <td>{{code}}</td>
                      <td>{{bitlength}}</td>
                      <td>{{protocol}}</td>
                      <td><a href="#" onclick="events.emit('removeIgnoreCode', {{code}}); $(this).parents('tr').hide('slow');"><i class="fa fa-times"></i></a></td>
                    </tr>
                {{/RFcodes}}
                </tbody>
               </table>
               {{^RFcodes}}
               <p class="lead">No codes ignored at the moment.</p>
               {{/RFcodes}}

              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 51.1563px; top: 12px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div><div class="ripple ripple-on ripple-out" style="left: 45.6563px; top: 21px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div></div></button>
                </div>
              </div>
            </div>
          </div>