<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IoT 433Mhz Dashboard">
    <meta name="author" content="Rocco Musolino">
    <!-- Add to Homescreen feature -->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="128x128" href="./assets/img/icon_128.png">
    <link rel="stylesheet" type="text/css" href="/dist/css/add-to-homescreen/addtohomescreen.css">
    <script src="/dist/js/add-to-homescreen/addtohomescreen.js"></script>
    <script>
        addToHomescreen();
    </script>
    <!-- / Add to Homescreen -->

<link href="assets/img/favicon.ico" rel="icon" type="image/x-icon" />

<title>{{title}}</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--  Bootstrap dependencies -->
    <link rel="stylesheet" href="dist/css/bootstrap/bootstrap.css" />
    <!--  / Bootstrap dependencies -->

    <!-- Custom styles -->
    <link rel="stylesheet" href="css/dashboard-style.css" />
    <!-- Hover.css -->
    <link rel="stylesheet" href="dist/css/hover.css" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="dist/css/font-awesome.min.css">

    <!-- Snackbar.js -->
    <link rel="stylesheet" href="dist/css/snackbar.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="dist/css/bootstrap-material-design/roboto.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-material-design/bootstrap-material-design.css">
    <link rel="stylesheet" href="dist/css/bootstrap-material-design/ripples.min.css">

    <!-- CSS Circle Menu -->
    <link rel="stylesheet" href="dist/css/css-circle-menu/circle-menu.min.css">

    <script>var BACKGROUNDS = { imgs: {{{backgrounds}}}, p: 0};</script>
</head>

<body>
  <!-- Dynamic BG change -->
  <script src="js/bg-handler.js"></script>

    <div class="container" id="mainBody">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Waiting connection from the server...</h1>
                <br/>
                <i class="fa fa-chrome fa-4x"></i>
                <i class="fa fa-firefox fa-4x"></i>
                <i class="fa fa-opera fa-4x"></i>
                <i class="fa fa-safari fa-4x"></i>
                <i class="fa fa-edge fa-4x"></i>
            </div>
        </div>
    </div>

    <div id="main_modal_box">
    </div>

    <footer class="footer" style="margin-top: 25px;">
      <div class="container">
        <p class="text-muted text-center">
           © 2015 - 2016 <a href="https://twitter.com/roccomuso" target="_new">Rocco Musolino</a>. All rights reserved.<br/>
           Handcrafted with <span class="doc-heart"><i class="fa fa-heart" style='color:red;'></i></span> and a lot of <i class="fa fa-coffee"></i><br/>
           <a href="https://www.paypal.me/RoccoMusolino" target="_new">Support the project <i class="fa fa-paypal"></i></a>
           <br/>
           v. {{version}}
           <br/>
           <i class="fa fa-chrome"></i>
            <i class="fa fa-firefox"></i>
            <i class="fa fa-opera"></i>
            <i class="fa fa-safari"></i>
            <i class="fa fa-edge"></i>
       </p>
      </div>
    </footer>

<!-- CSS Circle Menu -->

<nav id="c-circle-nav" class="c-circle-nav">
  <button id="c-circle-nav__toggle" class="c-circle-nav__toggle">
    <span>Toggle</span>
  </button>
  <ul class="c-circle-nav__items">
    <li class="c-circle-nav__item">
      <a href="#" class="c-circle-nav__link" onClick="events.emit('clickHome');">
        <img src="assets/img/menu_icon/house.svg" alt="">
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="#" class="c-circle-nav__link" onClick="events.emit('clickIgnoredCodes');">
        <img src="assets/img/menu_icon/code.png" alt="">
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="#" class="c-circle-nav__link" onClick="events.emit('clickAddCard');">
        <img src="assets/img/menu_icon/add-card.png" alt="">
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="#" class="c-circle-nav__link" onClick="events.emit('clickAbout');">
        <img src="assets/img/menu_icon/about.png" alt="">
      </a>
    </li>
    <li class="c-circle-nav__item">
      <a href="#" class="c-circle-nav__link" onClick="events.emit('clickSettings');">
        <img src="assets/img/menu_icon/tools.svg" alt="">
      </a>
    </li>
  </ul>
</nav>






<!-- JS Dependencies -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{googleAnalyticsID}}', 'auto');
  ga('send', 'pageview');
</script>

<!-- Socket.io for Web Socket -->
<script src="/socket.io/socket.io.js"></script>

<!-- jQuery -->
<script src="dist/js/jquery.min.js"></script>

<!-- jQuery Form validation plugin -->
<script src="dist/js/form-validator/jquery.form-validator.min.js"></script>

<!-- CSS Circle Menu -->
<script src="dist/js/css-circle-menu/circleMenu.js"></script>

<!-- MixItUp -->
<script src="dist/js/jquery.mixitup.min.js"></script>

<!--  Bootstrap, Bootstrap compiled plugins (below) -->
<script src="dist/js/bootstrap.min.js"></script>

<!-- Notie.js for in-app notification -->
<script src="dist/js/notie.js"></script>

<!-- ion.sound JS for sounds -->
<script src="dist/js/ion.sound.min.js"></script>

<!-- Bootstrap Material Design -->
<script src="dist/js/bootstrap-material-design/ripples.min.js"></script>
<script src="dist/js/arrive.min.js"></script>
<script src="dist/js/bootstrap-material-design/material.min.js"></script>

<!-- Mustache.js -->
<script src="dist/js/mustache.min.js"></script>

<!-- SnackbarJS -->
<script src="dist/js/snackbar.js"></script>

<!-- Event Emitter -->
<script src="dist/js/EventEmitter.js"></script>

<!-- Shake.js to detect Mobile Device shaking -->
<script src="dist/js/shake.js"></script>

<!-- Favicon.js -->
<script src="dist/js/favico-0.3.10.min.js"></script>

<!-- Moment.js -->
<script src="dist/js/moment.min.js"></script>

<!-- JS Files -->
<script src="js/RFcodes.js"></script>
<script src="js/templating.js"></script>
<script src="js/client.socketing.js"></script>
<script src="js/eventing.js"></script>
<script src="js/main.js"></script>

</body>


</html>
