/* CSS file placeholder. */

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body{
	background-image: url(../assets/img/background-repeat-pattern.png);
	height: 100%;
}

#mainBody{
  min-height: 90%;
}

/* MixItUp Rule */
#cards_container .mix{
	display: none;

}

/* COLUMNS */

#cards_container {
	-webkit-column-count: 4;
	-webkit-column-gap: 5px;
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	-moz-column-gap: 5px;
	-moz-column-fill: auto;
	column-count: 4;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 10px 20px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	/*padding: 15px;*/
	padding-bottom: 5px;
	/*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
	opacity: 1;

	/*-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;*/
}
